.header{
    position: relative;
    height: 100px;
    padding-left: 310px;
    z-index: 800;
    background-color: #171e38;
}
ul.header{
    height: 100%;
    margin: 0 auto;
    padding: 20px 60px !important;
    text-decoration: none;
}
ul.header li{
    display: flex;
    text-align: center;
}

ul.header li a{
    padding: 14px 60px !important;
    font-size: 16pt;
    margin-right: 20px;
    text-decoration: none;
    color: #576591;
    border-radius:10px;
}

ul.header li a:hover {
    text-decoration: none;
    color: #0ca1ff;
}

ul.header li a.active {
    border: 1px solid #0ca1ff;
    color: #0ca1ff;
    background-color: #11172d;
}
.pay_content{
    margin-top: 20px;
    min-height: 100%;
}